@charset "utf-8";

main{
background: linear-gradient(
  #000000 4%,
  #eeeeee 50%,
  #000000 96%
);
	padding-bottom:4rem;
}

h2 {
    text-align: center;
    color:white;
    padding-bottom: 10px;
    padding-top: 3rem;
}

.voirplus{
    text-align: center;
}
.voirplus a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: hsla(199, 37%, 38%, 0.5) ;
    font-size: 30px;
    border-radius: 15%;
}

.voyages-container {
    padding: 40px;
}

.voyages-container h2 {
    font-size: 2.4rem;
    margin-bottom: 30px;
}

.voyages-grid {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.voyage-card {
    background: hwb(50 45% 23% / 0.644);
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: transform 0.2s;
}

.voyage-card:hover {
    transform: scale(1.02);
}

.voyage-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.voyage-content {
    padding: 20px;
    text-align: left;
}

.voyage-content h3 {
    margin-bottom: 10px;
    font-size: 1.6rem;
}

.desc {
    margin-bottom: 12px;
}

.profil {
    margin-bottom: 12px;
    padding-left: 20px;
}

.infos p {
    margin: 4px 0;
    font-weight: 600;
}
